{% extends 'base.html.twig' %}

{% block body %}

    <div class="title">
        <h1>Liste des concerts</h1>
        <a class="btn btn-secondary" href="{{ path('concert_new') }}">Nouveau concert</a>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr class="table-secondary">
                    <td>Groupe</td>
                    <td>Nombre de place</td>
                    <td>Date</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
            {% for concert in concerts %}
                <tr>
                    <td>
                        {{ concert.concertGroup.name }}
                    </td>
                    <td>
                        {{ concert.nbTicket }}
                    </td>
                    <td>
                        {{ concert.dateTimeBegin | date('d-m-Y') }}
                    </td>
                    <td>
                        <a href="{{ path('concert_show', {id: concert.id}) }}" class="">AFFICHER</a>,
                        <a href="{{ path('concert_edit', {id: concert.id}) }}" class="">EDITER</a>,
                        <a href="{{ path('concert_delete', {id: concert.id}) }}" class="">SUPPRIMER</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>

    </div>
{% endblock %}