<div class="card card-artist mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ asset('img/artists/' ~ artist.imgName) }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ path('artist_show', {id: artist.id}) }}">{{ artist.name }}</a></h5>
                <p class="card-text">{{ artist.description }}</p>
            </div>
        </div>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="card-footer flex-row">
                <form method="post" action="{{ path('artist_delete', {'id': artist.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artist.id) }}">
                    <button type="submit" class="btn link-danger">SUPPRIMER</button>
                </form>
                <a href="{{ path('artist_edit', {'id': artist.id}) }}" class="btn btn-primary">EDITER</a>
            </div>
        {% endif %}
    </div>
</div>

