{{ form_start(form) }}


<div class="mb-3">
    <label for="{{ form.name.vars.id }}">Pseudo</label>
    {{ form_widget(form.name, {
        'attr': {
            'class': 'form-control'
        }})
    }}

</div>
<div class="mb-3">
    <label for="{{ form.description.vars.id }}">Description</label>
    {{ form_widget(form.description, {
        'attr' : {
            'class' : 'form-control'
        }
    }) }}
</div>


<div class="mb-3">
    <label for="{{ form.concertGroups.vars.id }}">Groupes</label>
    {{ form_widget(form.concertGroups, {
        'attr' : {
            'class' : 'form-control',
            'aria-label' : 'multiple select exemple'
        }
    }) }}
</div>

<div class="mb-3">
    <label for="{{ form.file.vars.id }}" id="filelabel" class="form-label">Joindre une image</label>
    {{ form_widget(form.file, { 'attr' : {'class': "form-control"} }) }}
    <i class="form-text">(JPG, PNG, JPEG)</i>
</div>



<button class="btn btn-primary" type="submit">
    {{ button_label|default('CRÉER L\'ARTISTE') }}
</button>
{{ form_end(form) }}