{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}

    <div class="title">
        <h1>{{ artist.name }}</h1>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-4" style="margin: auto">
                <img src="{{ asset('img/artists/' ~ artist.imgName) }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-8">
                <h2>Son histoire</h2>
                <p>{{ artist.description }}</p>

                <h2>Son/Ses groupe(s)</h2>
                <div class="container">
                    <div class="row">
                        {% for group in artist.concertGroups %}
                            <a href="{{ path('groups_show', {id: group.id}) }}">{{ group.name }}</a>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
