<div class="card card-groups">

    <img src="{{ asset('img/groups/'  ~ group.imgName) }}" class="card-img-top" alt="...">

    <div class="card-body">
        <h5 class="card-title"><a href="{{ path('group_show', {id: group.id}) }}">{{ group.name }}</a></h5>
        <p class="card-text">{{ group.description }}</p>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="card-footer">
        <form method="post" action="{{ path('group_delete', {'id': group.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group.id) }}">
            <button type="submit" class="btn link-danger">SUPPRIMER</button>
        </form>
        <a href="{{ path('group_edit', {'id': group.id}) }}" class="btn btn-primary">EDITER</a>
    </div>

    {% endif %}
</div>
