{% extends 'base.html.twig' %}

{% block body %}

    <div class="group-container bg-dark" style="position: relative; z-index: 0">

        <img style="position: fixed; max-width: 100vw" src="{{ asset('img/groups/' ~ group.imgName) }}" alt="">

        <div class="group-separator"></div>

        <div style="z-index: 1; position: relative;">
            <div class="group-desc">
                <div class="">
                    <h1>{{ group.name }}</h1>
                </div>

                <div class="mt-3" style="text-align: justify">
                    <p>{{ group.description }}</p>
                </div>
            </div>

            <div class="group-separator-2"></div>


            <div class="group-desc">
                <div class="mt-2">
                    <h1>Les Membres</h1>
                </div>

                <div class="mt-5">
                    <div class="container mt-3">
                        <div class="row">

                            {% for artist in artists %}
                            <div class="col-6" style="margin: auto">
                                {% include('artist/_card.html.twig') %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="group-separator-2"></div>


            <div class="group-desc">
                <div class="mt-2">
                    <h1>Les Prochains Concerts</h1>
                </div>

                <div class="mt-5">
                    <div class="container mt-3">
                        <div class="row">

                            {% if concerts is empty %}
                                <p>Aucun concert prochainement, n'hésitez pas à revenir de temps en temps !</p>
                            {% endif %}

                            {% for concert in concerts %}
                                <div class="col-6" style="margin: auto">
                                    <div class="card mb-3" style="max-width: 540px;margin: auto">
                                        <div class="card-body">
                                            <p class="card-text">Début : {{ concert.datetimeBegin | date('d-m-Y à h-i') }}</p>
                                            <p class="card-text">Fin : {{ concert.datetimeEnd | date('d-m-Y à h-i') }}</p>
                                            <p class="card-text">Salle : {{ concert.concertHall.name }}</p>
                                            <p class="card-text">Places : {{ concert.nbTicket }}</p>
                                            <p class="card-text">Organisateur : {{ concert.concertOrganizer.name }}</p>
                                            <a href="{{ path('concert_show', {id : concert.id}) }}" class="btn-primary btn">Voir</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="group-separator-2"></div>

    </div>


{% endblock %}