<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{{ path('concert_home') }}">
        Home
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('concert_index') }}">Les concerts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('group_index') }}">Les groupes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('artist_index') }}">Les artistes</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ path('concert_list') }}">Liste des concerts</a></li>
                    <li><a class="dropdown-item" href="{{ path('group_list') }}">Liste des groupes</a></li>
                    <li><a class="dropdown-item" href="{{ path('artist_list') }}">Liste des artistes</a></li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li><a class="dropdown-item" href="{{ path('user_list') }}">Liste des utilisateurs</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
        </ul>

    </div>

    {% if app.user %}

        <div class="dropdown d-flex ">
            <button class="btn btn-outline-light dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Bonjour, {{ app.user.firstName }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="{{ path('user_show', {id: app.user.id}) }}">Mon compte</a></li>
                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </div>


    {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-outline-light d-flex">Connexion</a>
    {% endif %}
</nav>
