{% extends 'base.html.twig' %}

{% block title %}Nouveau Utilisateur{% endblock %}

{% block body %}

    <div style="margin: 50px auto; width: max-content">
        <div class="card" style="width: 25rem;min-width: max-content">
            <div class="card-body">
                <h1 class="card-title">Nouveau Utilisateur</h1>
                {{ form_start(form) }}

                <div class="mb-3">
                    <label for="{{ form.firstName.vars.id }}">Prénom</label>
                    {{ form_widget(form.firstName, {
                        'attr' : {
                            'class' : 'form-control'
                        }
                    }) }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.lastName.vars.id }}">Nom de famille</label>
                    {{ form_widget(form.lastName, {
                        'attr' : {
                            'class' : 'form-control'
                        }
                    }) }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.email.vars.id }}">Email</label>
                    {{ form_widget(form.email, {
                        'attr': {
                            'class': 'form-control'
                        }})
                    }}

                </div>
                <div class="mb-3">
                    <label for="{{ form.password.vars.id }}">Mot de passe</label>
                    {{ form_widget(form.password, {
                        'attr' : {
                            'class' : 'form-control'
                        }
                    }) }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.roles.vars.id }}">Roles</label>
                    {{ form_widget(form.roles, {
                        'attr' : {
                            'class' : 'form-control',
                            'aria-label' : 'multiple select exemple'
                        }
                    }) }}
                </div>



                <button class="btn btn-primary" type="submit">
                    CRÉER L'UTILISATEUR
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}
