{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <div style="margin: 50px auto; width: max-content">
        <div class="card" style="width: max-content;">
            <div class="card-body">

                <h1 class="card-title mb-3">Vos Informations</h1>


                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <th>Identifiant :</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Email :</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Prénom :</th>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Nom de famille :</th>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="mt-2"><a href="{{ path('user_edit', {id: user.id}) }}">Modifier votre compte</a></p>
    </div>

{% endblock %}
